<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.federicoinfelici.Voltaica.Helper</string>
	<key>BundleProgram</key>
	<string>Contents/MacOS/VoltaicaHelper</string>
	<key>MachServices</key>
	<dict>
		<key>com.federicoinfelici.Voltaica.Helper</key>
		<true/>
	</dict>
	<key>AssociatedBundleIdentifiers</key>
	<array>
		<string>com.federicoinfelici.Voltaica</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>ProcessType</key>
	<string>Background</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>VOLTAICA_DAEMON</key>
		<string>1</string>
	</dict>
</dict>
</plist>
